body {
    background-image: url("img/bg.jpg");
}

#name {
    font-size: 180%;
    font-weight: bold;
    color: hwb(25 4% 61%); 
}

#topimage {
    border-color: orange;
    border-width: 2px;
    border-style: solid;
}

a {
    background-color: orange;
    border-color: orange;
    border-radius: 15px;

    color: white;
    padding: 15px;
    
}

a:hover{
    background-color: hwb(25 4% 61%);
    border-color: hwb(25 4% 61%);
    border-radius: 15px;

    color: orange;
    padding: 15px;
}

#box1{
    width: 825px;
    background-color: rgb(249, 243, 235);
    padding-bottom: 10%;
}

dt{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bold;
    font-size: 200%;
}

dd{
    padding-left: 10%;
    padding-right: 15%;
    font-size: medium;

}

#index{
    background-color: hwb(25 4% 61%);
    border-color: hwb(25 4% 61%);
    border-radius: 15px;

    color: orange;
    padding: 15px;

}

#about{
    background-color: hwb(25 4% 61%);
    border-color: hwb(25 4% 61%);
    border-radius: 15px;

    color: orange;
    padding: 15px;
}